<div class="home-component full" *ngIf="!loading">
    <div class="search-box">
        <label>
            Serach Your Favourite Beer 
            <input type="text" [(ngModel)]="brandname"  autocomplete="off" placeholder="type here">
        </label>
    </div>
    
    <div class="beer-card-container">
        <div class='beer-card' 
            *ngFor="let data of beerData |filter: brandname | paginate: { itemsPerPage: 20, currentPage: currentPage }; let i = index; "
            >
                <img [src]="imageData[ i > 4 ?  i %  imageData.length : i].image" alt="">
                <div 
                    class="beer-info" 
                    *ngFor="let schema of beerSchema"
                    >
                        <span>{{ schema?.name }}</span>
                        <span> {{ data[schema?.keyname] }}</span>
                </div>
        </div>
    </div>
    <div class="pegination-footer">
        <pagination-controls (pageChange)="currentPage = $event">
        </pagination-controls>
    </div>
</div>
<div class="home-component full" *ngIf="loading">
    <app-loader></app-loader>
</div>